.App {
    text-align: center;
    min-height: 900px;
}

header {
    font-size: larger;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #c3c3c3;
    text-align: center;
}